<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        i = 0;
        $('.menuAc').css({
          'color': 'rgba(52, 152, 219, 1)'
        });
        $('.menuAc').click(function(){
          $(this).next('.menuMobil').animate({width:'toggle'},350);
          if (i%2==0) {
            $('.footer').css({
              'filter'         : 'blur(5px)'
            });
            $('.yazilar').css({
              'filter'         : 'blur(5px)'
            });
            $('.ust').css({
              'filter'         : 'blur(5px)'
            });
            $('ul.menu').css({
              'animation-duration': '0.1s'
            });
            i++;
          }
          else {
            $('.footer').css({
              'filter'         : 'blur(0px)'
            });
            $('.yazilar').css({
              'filter'         : 'blur(0px)'
            });
            $('.ust').css({
              'filter'         : 'blur(0px)'
            });
            i++;
          }

        });
      });
    </script>

    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="ust">
      <div class="ortalaAna">
        <div class="baslikAna">
          {{ site.title }}
        </div>

        <div class="pc">
          {% include nav.html %}
        </div>
      </div>
    </div>
    <div class="ortalaAna">
      <div class="yazilar">
        <div class="yazi">
          <div class="ustr">
            <h2>{{ page.title }}</h2>
            <div class="yazibilgisi">
              {{ page.date | date_to_string }}
            </div>

          </div>
          <hr>
          <div class="content">
            <div class="entry">
            <div class=".post-tag">
              {% if page.tags %}
              <i class="fa fa-tags" float=right></i>
              {% for tag in page.tags %}
              <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"   class="post-tag">{{ tag }}</a>
              {% endfor %}
              {% endif %}
            </div>
            {{ content }}
            <!-- {% if page.previous %}
            <a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" class="btn btn-info">&larr; Previous</a>
            {% endif %}
            {% if page.next %}
            <a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.previous.title }}" class="btn btn-info" style="float: right;">Next &rarr;</a>
            {% endif %} -->
            <!-- [ previous](https://github.com/alperenbozkurt/JBlog){: .btn .btn-info} -->

            {% if page.project == null %}
            <div class="PageNavigation">
              {% if page.previous.url %}
                {% if page.previous.project == null %}
                  <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                {% else %}
                  {% assign temp=page.previous %}
                  {% for t in (0..10) %}
                    {% if temp.project == null %}
                      {% break %}
                    {% endif %}
                    {% assign temp=temp.previous %}
                  {% endfor %}
                  {% if temp != null %}
                    <a class="previous" href="{{temp.url}}">&laquo; {{temp.title}}</a>
                  {% endif %}
                {% endif %}
              {% endif %}
              {% if page.next.url %}
                {% if page.next.project == null %}
                  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                {% else %}
                  {% assign temp=page.next %}
                  {% for t in (0..10) %}
                    {% if temp.project == null %}
                      {% break %}
                    {% endif %}
                    {% assign temp=temp.next %}
                  {% endfor %}
                  {% if temp !=null %}
                    <a class="next" href="{{temp.url}}">{{temp.title}} &raquo;</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            {% endif %}
            <div style="clear:both"></div>
          </div>
         	</div>

        </div>
        {% include scripts.html %}
        {% include disqus_comments.html %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>

<!-- {% if page.previous %}
<i class="previous"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></i>
{% else %}
<li class="previous disabled"><a>&larr; Previous</a></li>
{% endif %}
{% if page.next %}
<i class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></i>
{% else %}
<li class="next disabled"><a>Next &rarr;</a>
{% endif %} -->
